<!--! 
    @file index.html
    @brief The main UI template for the Mindmap Generator.
    @details 
    This file serves as the primary user interface, displaying the mindmap and handling interactions.
-->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
<meta name="description" content="A mind map editor, showing how subtrees can be moved, copied, deleted, and laid out."/> 
<!-- Copyright 1998-2023 by Northwoods Software Corporation. -->
<title>Mind Map</title>
<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>

<body>
  <div class="md:flex flex-col md:flex-row md:min-h-screen w-full max-w-screen-xl mx-auto">
    <div id="navSide" class="flex flex-col w-full md:w-48 text-gray-700 bg-white flex-shrink-0"></div>
    <!-- * * * * * * * * * * * * * -->
    <!-- Start of GoJS sample code -->
    
    <script src="https://unpkg.com/gojs@2.3.9/release/go.js"></script>
    <script src="/static/js/app_controller.js"></script>
    <script src="/static/js/graph_manager.js"></script>
    <script src="/static/js/mindmap_manager.js"></script>
    <div id="allSampleContent" class="p-4 w-full">

<div id="sample">
  <div id="GraphDiv" style="border: 1px solid black; width: 100%; height: 700px; resize: vertical; overflow: auto; background: whitesmoke; position: relative; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); cursor: auto;">
    <canvas tabindex="0" width="2108" height="916" style="position: absolute; top: 0px; left: 0px; z-index: 2; user-select: none; touch-action: none; width: 1054px; height: 458px; cursor: auto;">
      This text is displayed if your browser does not support the Canvas HTML element.
    </canvas>
  </div>
  <div id="MindmapDiv" style="border: 1px solid black; width: 100%; height: 700px; resize: vertical; overflow: auto; background: whitesmoke; position: relative; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); cursor: auto;">
    <canvas tabindex="0" width="2108" height="916" style="position: absolute; top: 0px; left: 0px; z-index: 2; user-select: none; touch-action: none; width: 1054px; height: 458px; cursor: auto;">
      This text is displayed if your browser does not support the Canvas HTML element.
    </canvas>
  </div>
  <button id="fullscreenButton" onclick="toggleFullscreen()" style="position: absolute; z-index: 3; top: 5px;">
    Fullscreen
  </button>
  <div style="display: flex; align-items: center; gap: 10px;">
    <select id="jsonFileSelect">
      <option value="">Select a file...</option>
    </select>
    <button id="LoadFileButton" onclick=loadFromFile()>Load</button>
    <button id="SaveButton" onclick="save()">Save</button>
    <button id="DeleteButton" onclick="deleteFile(document.getElementById('jsonFileSelect').value)">Delete</button>
    <form id="generateForm">
      <input type="text" id="urlInput" onchange=updateInputs() placeholder="URL">
      <input type="number" id="depthInput" onchange=updateInputs() placeholder="Max Depth" min="0">
      <button id="GenerateButton" type="button" onclick=generate()>Generate Mindmap</button>
    </form>
    <div id="loader" class="loader"></div>
    <input type="range" min="0" max="10" value="1" id="myRange" oninput="setExpandNumber(this.value)">
    <button id="expandAllButton" onclick="expandAll()">Expand All</button>
    <button onclick="layoutAll()">Layout</button>    
  </div>
  <p>
    Diagram Model saved in JSON format:
  </p>
  <div style="display: flex; align-items: center; gap: 10px;"></div>
    <button onclick="load()">Load</button>
  </div>
  <textarea id="mySavedModel" style="width:100%;height:400px">
{ "class": "go.TreeModel",
  "nodeDataArray": [
{"key":0, "text":"Mind Map", "loc":"0 0"},
{"key":1, "parent":0, "text":"Getting more time", "brush":"skyblue", "dir":"right", "loc":"77 -22"},
{"key":11, "parent":1, "text":"Wake up early", "brush":"skyblue", "dir":"right", "loc":"200 -48"},
{"key":12, "parent":1, "text":"Delegate", "brush":"skyblue", "dir":"right", "loc":"200 -22"},
{"key":13, "parent":1, "text":"Simplify", "brush":"skyblue", "dir":"right", "loc":"200 4"},
{"key":2, "parent":0, "text":"More effective use", "brush":"darkseagreen", "dir":"right", "loc":"77 43"},
{"key":21, "parent":2, "text":"Planning", "brush":"darkseagreen", "dir":"right", "loc":"203 30"},
{"key":211, "parent":21, "text":"Priorities", "brush":"darkseagreen", "dir":"right", "loc":"274 17"},
{"key":212, "parent":21, "text":"Ways to focus", "brush":"darkseagreen", "dir":"right", "loc":"274 43"},
{"key":22, "parent":2, "text":"Goals", "brush":"darkseagreen", "dir":"right", "loc":"203 56"},
{"key":3, "parent":0, "text":"Time wasting", "brush":"palevioletred", "dir":"left", "loc":"-20 -31.75"},
{"key":31, "parent":3, "text":"Too many meetings", "brush":"palevioletred", "dir":"left", "loc":"-117 -64.25"},
{"key":32, "parent":3, "text":"Too much time spent on details", "brush":"palevioletred", "dir":"left", "loc":"-117 -25.25"},
{"key":33, "parent":3, "text":"Message fatigue", "brush":"palevioletred", "dir":"left", "loc":"-117 0.75"},
{"key":331, "parent":31, "text":"Check messages less", "brush":"palevioletred", "dir":"left", "loc":"-251 -77.25"},
{"key":332, "parent":31, "text":"Message filters", "brush":"palevioletred", "dir":"left", "loc":"-251 -51.25"},
{"key":4, "parent":0, "text":"Key issues", "brush":"coral", "dir":"left", "loc":"-20 52.75"},
{"key":41, "parent":4, "text":"Methods", "brush":"coral", "dir":"left", "loc":"-103 26.75"},
{"key":42, "parent":4, "text":"Deadlines", "brush":"coral", "dir":"left", "loc":"-103 52.75"},
{"key":43, "parent":4, "text":"Checkpoints", "brush":"coral", "dir":"left", "loc":"-103 78.75"}
 ]
}
  </textarea>
</div>
    </div>
    <!-- * * * * * * * * * * * * * -->
    <!--  End of GoJS  -->
  </div>
</body>
</html>